@inherits UmbracoViewPage<CardViewModel>
@using Datagraf.Web.Models.ComponentModels

<div class="card @Umbraco.If(Model.BlueCardType, "card--blue")">
    @if(!string.IsNullOrEmpty(Model.Url))
    {
        @:<a href="@Model.Url">
    }
    @if (!string.IsNullOrEmpty(Model.Svg))
    {
        <div class="card__svg">
            @Html.Raw(Model.Svg)
        </div>
    }
    @if (Model.Image != null)
    {
        <div class="card__image">
            @Html.Partial(
           "Components/_Media",
           new MediaViewModel
           {
               Image = Model.Image,
               TypedWidth = Model.TypedWidth,
               GridSize = Model.GridSize,
               GridSizeSM = Model.GridSizeSM,
               GridSizeXS = Model.GridSizeXS,
               GridSizeXXS = Model.GridSizeXXS,
               ImageHeight = Model.ImageHeight,
               ImageHeightMobile = Model.MobileImageHeight
           })
        </div>
    }

    @if(!string.IsNullOrEmpty(Model.Headline))
    {
        <div class="card__content">
            <div class="card__inner">
                @if (!string.IsNullOrEmpty(Model.Date) && DateTime.Parse(Model.Date).Year > 1)
                {
                    <time>@Model.Date </time>
                }
                @if(!string.IsNullOrEmpty(Model.Headline))
                {
                    <h4 class="card__title">@Html.Raw(Model.Headline)</h4>
                }
                @if (!string.IsNullOrEmpty(Model.Lead))
                {
                    <p class="card__lead">@Model.Lead</p>
                }
                @if (Model.Tag != null)
                {
                    <div class="card__tag">@Model.Tag.Name</div>
                }
                <div class="card__spacer"></div>
            </div>
        </div>
    }

    @if(!string.IsNullOrEmpty(Model.Url))
    {
        @:</a>
    }
</div>
