@inherits UmbracoViewPage<HeroViewModel>
@using AnneVibekeRejser.Web.Models.ComponentModels

<div class="hero">
    <div class="hero__image">
        @if (Model.Image != null)
        {
            var image = Model.Image;
            @RenderImage(image)
        }
    </div>
    <div class="hero__content">
    @if (!string.IsNullOrEmpty(Model.Trompet))
    {
        <small>@Model.Trompet</small>
    }
    @if(!string.IsNullOrEmpty(Model.Heading))
    {
        <h1>@Html.Raw(Model.Heading)</h1>
    }
    </div>
</div>

@helper RenderImage(IPublishedContent image)
{
    if(Model.FluidHero)
    {
         @Html.Partial(
            "Components/_FluidMedia",
            new FluidMediaViewModel
            {
                Image = image,
                GridSize = Model.GridSize,
                ImageHeight = Model.ImageHeight,
                ImageHeightMobile = Model.ImageHeightMobile,
                GridTotalPadding = Model.GridTotalPadding
            })
    }
    else
    {

        @Html.Partial(
            "Components/_Media",
            new MediaViewModel
            {
                Image = image,
                GridSize = Model.GridSize,
                ImageHeight = Model.ImageHeight,
                ImageHeightMobile = Model.ImageHeightMobile,
                GridTotalPadding = Model.GridTotalPadding
            })
    }
}
