@inherits UmbracoViewPage<PageHeaderViewModel>
@using Datagraf.Web.Models.ComponentModels
@using Umbraco.Web.Mvc


<div class="page-header @(Umbraco.If(Model.DocumentType != "productPage", "page-header--alt"))">
    @if (!string.IsNullOrEmpty(Model.Trompet))
    {
        <small class="trompet">@Model.Trompet</small>
    }
    @if (!string.IsNullOrEmpty(Model.Headline))
    {
        <h1>@Html.Raw(Model.Headline)</h1>
    }
    @if (!string.IsNullOrEmpty(Model.Lead))
    {
        <p class="lead">@Model.Lead</p>
    }
    @if (Model.Date != null && Model.Date.Value.Year > 1)
    {
        <time>@Model.Date.Value.ToString("dd. MMMM yyyy")</time>
    }
    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <small class="byline">@Html.Raw(Model.Author)</small>
    }
    <div class="page-header__spacer"></div>
</div>
