@inherits UmbracoViewPage<LeBlenderModel>
@using Lecoati.LeBlender.Extension.Models
@using Datagraf.Web.Models.ComponentModels
@using Our.Umbraco.LinksPicker.Models;

@foreach (var item in Model.Items)
{
    @renderContent(item)
}

@helper renderContent(LeBlenderValue content)
{
    var links = content.GetValue<IEnumerable<LinksPickerItem>>("links");
    var headline = content.GetValue<string>("headline");
    if (links != null)
    {
            <div class="link-list link-list--arrow">
                @if (!string.IsNullOrEmpty(headline))
                {
                    <h4 class="link-list__headline">@Html.Raw(headline)</h4>
                }
                @foreach (var link in links)
                {
                    <ul class="link-list__link list-unstyled">
                        <li>
                            <a href="@link.Url" target="@link.Target">
                                <div class="link-list__icon">
                                    <svg width="100%" height="100%" viewBox="0 0 15 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><rect id="Moodbord" x="-522" y="-1399" width="1200" height="2706" style="fill:none;"/><path d="M8.166,12.182c-0.2,0.2 -0.2,0.5 0,0.7c0.1,0.1 0.2,0.118 0.4,0.118c0.1,0 0.3,-0.018 0.4,-0.118l5.9,-6c0.07,-0.088 0.134,-0.195 0.134,-0.395c0,-0.2 -0.132,-0.3 -0.234,-0.405l-5.9,-5.9c-0.2,-0.2 -0.5,-0.2 -0.7,0c-0.2,0.2 -0.2,0.5 0,0.7l5.2,5.1l-12.866,0c-0.3,0 -0.5,0.2 -0.5,0.5c0,0.3 0.2,0.5 0.5,0.5l12.866,0l-5.2,5.2Z" style="fill:#8e8260;fill-rule:nonzero;"/></svg>
                                </div>
                                <div class="link-list__text">
                                    @Html.Raw(link.Name)
                                </div>
                            </a>
                        </li>
                    </ul>
                }
            </div>
    }
}